<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"><title>Créditos</title>
	<link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>
<body>
	<h2>Créditos:</h2>
	<p>Autor: Juan Carlos B.V.</p>
	<p>Fotografía:<img align="center" src="/images/author_Image.png"/><p>
</body>
</html>
